OAUTH_TOKEN = #
REFRESH_TOKEN = #
CLIENT_ID = #
CLIENT_SECRET = #
PREFIX = ">"
CHANNELS = "channel1,channel2"
UID7TV = "channel1=channel1_7TVID,channel2=channel2_7TVID"
DATA_DIR = "data"
TOP_COMMAND_MAX_LIST = X
DATABASE_URL=sqlite:///data.db
# Для MySQL позже замените на:
# DATABASE_URL=mysql+pymysql://user:password@localhost/dbname