<!-- base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Default Title{% endblock %}</title>
    {% block head %}{% endblock %}
    {% assets "main_css" %}
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
    {% endassets %}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
	<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
</head>
<body>
    {% block content %}{% endblock %}


    {% assets "main_js" %}
        <script src="{{ url_for('static', filename='scripts/main.js') }}"></script>
    {% endassets %}
</body>
</html>
