<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Channels List</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
</head>
<body>
    <div class="header">
        <h1>Channels</h1>
    </div>

    <div class="container">
        <div class="channels-list-wrapper">
            <table class="channels-table" id="channels-table">
                <thead>
                    <tr>
                        <th>Channel Name</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Названия каналов будут добавлены здесь динамически -->
                </tbody>
            </table>
        </div>
    </div>

    <script>
        async function fetchChannels() {
            try {
                const response = await fetch('/channels');
                if (!response.ok) {
                    throw new Error('Failed to fetch channels');
                }

                const channels = await response.json();
                const channelsTableBody = document.querySelector('#channels-table tbody');
                channelsTableBody.innerHTML = ''; // Очищаем таблицу перед добавлением новых данных

                channels.forEach(channel => {
                    const tr = document.createElement('tr');
                    const nameTd = document.createElement('td');
                    const link = document.createElement('a');
                    link.href = `/${channel}`;
                    link.textContent = channel;
                    nameTd.appendChild(link);
                    tr.appendChild(nameTd);
                    channelsTableBody.appendChild(tr);
                });
            } catch (error) {
                console.error('Error occurred while fetching channels:', error);
            }
        }

        // Вызываем функцию fetchChannels при загрузке страницы
        document.addEventListener('DOMContentLoaded', fetchChannels);
    </script>
</body>
</html>
