/* Общие стили для всего документа */
* {
    box-sizing: border-box; /* Учитываем границы и отступы в общих размерах */
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #e3f2fd; /* Светло-голубой фон для страницы */
    color: #37474f; /* Темный цвет текста */
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px; /* Добавляем отступы для контейнера */
}

.header {
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
    background-color: #1e88e5; /* Синий цвет фона заголовка */
    color: #ffffff; /* Белый цвет текста заголовка */
    padding: 20px;
    border-radius: 8px; /* Закругленные углы */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Добавляем тень */
}

.emotes-table-wrapper {
    display: flex;
    justify-content: center; /* Центрируем таблицу */
    overflow-x: auto; /* Добавляем горизонтальную прокрутку */
}

.emotes-table {
    width: 100%;
    border-collapse: collapse; /* Убираем промежутки между ячейками */
    background-color: #ffffff;
    border-radius: 8px; /* Закругленные углы */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Добавляем тень */
    overflow: hidden; /* Прячем содержимое, выходящее за границы */
}

.emotes-table th, .emotes-table td {
    padding: 15px;
    text-align: left;
}

.emotes-table th {
    background-color: #1e88e5; /* Синий цвет фона заголовка */
    color: #ffffff; /* Белый цвет текста заголовка */
    text-transform: uppercase; /* Заглавные буквы */
    letter-spacing: 1px; /* Добавляем межбуквенный интервал */
}

.emotes-table td {
    color: #37474f; /* Темный цвет текста ячеек */
}

.emotes-table th:nth-child(3), /* Третья колонка - название */
.emotes-table td:nth-child(3) {
    max-width: 350px; /* Установите нужную максимальную ширину */
    word-wrap: break-word; /* Разрешить перенос слов */
    white-space: normal; /* Позволить перенос строк */
}

.emotes-table tr:nth-child(even) {
    background-color: #e1f5fe; /* Светло-голубой фон для четных строк */
}

.emotes-table tr:nth-child(odd) {
    background-color: #bbdefb; /* Темно-голубой фон для нечетных строк */
}

.emotes-table td img {
    max-width: 80px; /* Ограничиваем ширину изображения */
    height: auto; /* Позволяет изображению сохранять пропорции */
    border-radius: 5px; /* Закругленные углы для изображений */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Добавляем тень для изображений */
}

.emotes-table tr {
    height: 80px; /* Устанавливаем фиксированную высоту строк */
}

.channels-list-wrapper {
    display: flex;
    justify-content: center; /* Центрируем таблицу */
}

.channels-table {
    width: 100%;
    border-collapse: collapse; /* Убираем промежутки между ячейками */
    background-color: #ffffff;
    border-radius: 8px; /* Закругленные углы */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Добавляем тень */
    overflow: hidden; /* Прячем содержимое, выходящее за границы */
}

.channels-table th, .channels-table td {
    padding: 15px;
    text-align: left;
}

.channels-table th {
    background-color: #1e88e5; /* Синий цвет фона заголовка */
    color: #ffffff; /* Белый цвет текста заголовка */
    text-transform: uppercase; /* Заглавные буквы */
    letter-spacing: 1px; /* Добавляем межбуквенный интервал */
}

.channels-table td {
    color: #37474f; /* Темный цвет текста ячеек */
}

.channels-table tr:nth-child(even) {
    background-color: #e1f5fe; /* Светло-голубой фон для четных строк */
}

.channels-table tr:nth-child(odd) {
    background-color: #bbdefb; /* Темно-голубой фон для нечетных строк */
}

.channels-table tr {
    height: 50px; /* Устанавливаем фиксированную высоту строк */
}

.channels-table td a {
    color: #1e88e5; /* Синий цвет текста ссылок */
    text-decoration: none; /* Убираем подчеркивание ссылок */
}

.channels-table td a:hover {
    text-decoration: underline; /* Добавляем подчеркивание при наведении */
}

/* Адаптивные стили для мобильных устройств */
@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    .emotes-table th, .emotes-table td {
        padding: 10px;
        font-size: 14px; /* Уменьшаем размер шрифта */
    }

    .emotes-table td img {
        max-width: 50px; /* Уменьшаем ширину изображений на мобильных устройствах */
    }

    .emotes-table tr {
        height: auto; /* Убираем фиксированную высоту строк */
    }

    .emotes-table th:nth-child(3), /* Третья колонка - название */
    .emotes-table td:nth-child(3) {
        max-width: 150px; /* Устанавливаем максимальную ширину для мобильных устройств */
    }
}
